* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}

.width-btn {
  display: block;
  height: 3svh;
  width: fit-content;
  margin: 1svh auto;
  padding: 0 1svw;
}

.grid-container {
  aspect-ratio: 1 / 1;
  max-width: 95svw;
  max-height: 90svh;
  outline: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}